@using Queiroz.LojaVirtual.Web.HtmlHelpers
@model Queiroz.LojaVirtual.Web.Models.ProdutosViewModel
 
<div class="container">
    @foreach (var item in Model.Produtos)
    {

        @Html.Partial("ProdutoDetalhes", item)

    }
    <div class="btn-group pull-right">
        @Html.PageLinks(Model.Paginas, y => Url.Action("ListaProdutos", new { pagina = y }))
    </div>
</div>








