@model Queiroz.LojaVirtual.Dominio.Entidades.Produto

<div class="well">
    <h3 class="page-header"><strong>@Model.Nome </strong> <small>small</small></h3>
    <p class="pull-right label label-success">@Model.Preco.ToString("c")</p>
    <p class="lead">@Model.Descricao</p>
    
</div>